---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

import "@fontsource/poppins/100.css";
import "@fontsource/poppins/200.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";

import "@fontsource/roboto/100.css";
import "@fontsource/roboto/300.css";
import "@fontsource/roboto/400.css";

const title = "I'm web\n developer";
/*
  Alternatives
  -I'm Ivan
  -I'm developer
  -I'm web designer
*/

const subtitle = "Hi, digital adventurer";
/*
  Alternatives
  -Hello, web explorer
  -Welcome, Digital Adventurer; Embark on your journey through the web with us.
  -Hi, digital adventurer; Join us as we explore the vast expanse of the internet.
*/

const body =
  "I'm Ivan a Frontend Developer with years of experience in both freelancing and corporate environments. Known for my proactive approach and continuous learning in the ever-evolving tech landscape.\n Outside of coding, I'm a passionate sports enthusiast and a hobbyist photographer.";

/*
  Alternatives
  - I'm a Frontend Developer with years of experience in both freelancing and corporate environments. Known for my proactive approach and continuous learning in the ever-evolving tech landscape. Outside of coding, I'm a passionate sports enthusiast and a hobbyist photographer.
  - Llevo varios años trabajando como desarrollador, especialmente enfocado en Frontend. Durante este tiempo, he acumulado experiencia tanto como freelancer como en el ámbito corporativo. Me caracterizo por ser una persona proactiva, siempre en búsqueda de nuevos conocimientos en este dinámico mundo tecnológico. En mi tiempo libre, disfruto de la fotografía, además de ser un apasionado de los deportes
 */
---

<Layout title="Ivan Joly">
  <main class="min-h-screen container lg:max-w-4xl xs:max-sm:max-w-full">
    <div class="min-h-screen flex flex-col justify-center">
      <div class="pt-8 md:pt-20"></div>
      <h2
        class="text-xl sm:text-1xl md:text-3xl text-secondary font-extralight uppercase tracking-[0.075em]"
      >
        {subtitle}
      </h2>
      <div class="pt-8"></div>
      <h1
        class="text-secondary whitespace-pre-line font-black uppercase tracking-[0.075em] heading"
      >
        {title}
      </h1>
      <div class="pt-8"></div>
      <div class="flex flex-col md:flex-row">
        <div class="basis-1 md:basis-4/6 grow-0">
          <div class="md:pt-6"></div>
          <span
            class="text-secondary md:pr-8 block whitespace-pre-line leading-7"
            >{body}</span
          >
        </div>
        <div class="pt-8 md:pt-0"></div>
        <div
          class="flex flex-col md:flex-col xs:flex-row justify-center max-md:justify-evenly grow gap-6 md:pl-8"
        >
          <a
            href="./cv.pdf"
            target="_blank"
            class="flex flex-raw gap-3 items-center group cursor-pointer"
          >
            <div class="bg-primary rounded-md p-2 group-hover:bg-secondary">
              <Icon
                name="file"
                class="text-xl text-background group-hover:text-background"
              />
            </div>
            <h5
              class="text-base text-secondary font-normal font-heading leading-[25px] group-hover:text-primary"
            >
              my resume
            </h5>
          </a>
          <a
            href="mailto:ivan.joly.dm@gmail.com?subject=Get in touch!"
            class="flex flex-raw gap-3 items-center group cursor-pointer"
          >
            <div class="bg-primary rounded-md p-2 group-hover:bg-secondary">
              <Icon
                name="message"
                class="text-xl text-background group-hover:text-background"
              />
            </div>
            <h5
              class="text-base text-secondary font-normal font-heading leading-[25px] group-hover:text-primary"
            >
              or get in touch!
            </h5>
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .heading {
    font-size: clamp(1rem, 12vw, 128px);
    line-height: 1;
  }
</style>
